# for all
gradio>=3.24.1
tqdm
pandas
pillow
numpy
torch

# for deduplicate
toml
imagededup

# for cluster
scikit-learn >= 1.2.2
matplotlib
scipy

# for tagger
tensorflow>=2.10.1, <2.11
huggingface_hub
opencv-python>=4.7.0.68
