### for all ###
gradio>=3.31.0
tqdm
pandas
pillow
numpy

### for deduplicate ###
toml
imagededup
torch

### for cluster ###
# matplotlib
# scipy
scikit-learn >= 1.2.2

### for tagger ###
torch
tensorflow>=2.10.1, <2.11
huggingface_hub
opencv-python>=4.7.0.68
onnx
onnxruntime-gpu
tf2onnx
